{:bb4t/manifest-version 2

 :runtime
 {:id :bb4t
  :profile :bb1}

 :upstream
  {:repository "https://github.com/babashka/babashka"
   :tag "v1.13.219"
   :commit "140ef9dcd770a54457a02fa29c3a2f643f4968d4"
   :tree "ac30a258a272273d77a3ceb546281e3e18aca673"}

  :build
  {:platform {:os "Ubuntu 26.04 LTS"
              :kernel "Linux 7.0.0-29-generic"
              :arch "x86_64"}
   :jdk "Oracle GraalVM Java 25.0.4+7.1"
   :graalvm "Oracle GraalVM 25.0.4+7.1"
   :native-image "Oracle GraalVM native-image 25.0.4"
   :leiningen "2.9.8"}

 :features
 {:mode :upstream-baseline
  :compiled-universe
  {:distribution :babashka/upstream-baseline
   :version "1.13.219"
   :source/commit "140ef9dcd770a54457a02fa29c3a2f643f4968d4"
   :feature-selection :upstream/default}}

 :libraries
 {:catalogued
  {:cheshire {:availability :compiled
              :use :bounded-json-capability}}
  :uncatalogued-compiled-universe :upstream-baseline}

 :capabilities
 {:catalog/ns bb4t.catalog
  :compiled #{:data/json-read :data/json-write :project/read}
  :profiles #{:agent/minimal :transform/pure :agent/project-read}}

 :surfaces #{:internal/bb1-evidence}

 :evidence
 {:implementation-commit "19512480f21bd9095d693dcd395f050f18c2d914"
  :runtime-coordinate "sha256:659a5f3f3bb0e68b4707cb7810d7652e64af78594b77f54fef62e7c36bdb5972"
  :catalog-coordinate "sha256:f132b513c4492e9cc9e22af088182d03d28b2059eab5c182dcbdf1db6e425f31"}}
